#user-switcher-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-switcher-modal-loader {
    position: absolute;
}

#us-switcher-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
/* Styling for the "Switch to User" button */
#switch-to-user-button {
    background-color: #0073aa; 
    color: #ffffff;
    padding: 0px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 5px;
}

#switch-to-user-button:hover {
    background-color: #005a8c; /* Darker blue for hover effect */
}

/* Styling the icon */
#switch-to-user-button .us-icon.us-user {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}


.us-switcher-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.us-switcher-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.us-switcher-close:hover,
.us-switcher-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.us-switcher-modal-content h2 {
    margin-top: 0;
}

.us-switcher-modal-content p {
    margin-bottom: 20px;
}

#us-switcher-form {
    margin-bottom: 20px;
}

#us-switcher-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.us-user-name {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

#us-switcher-results {
    margin-top: 20px;
}

